.leaflet-container {
  background: #f0f0f0 !important; /* 设置为灰色 */
}

.custom-tile-layer {
  background: #000 !important;
  background-color: #000 !important
}

.line-station-list {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 8;
  background-color: #fff;
  padding: 10px;
  height: 500px;
  width: 300px;
  z-index: 999;

}

.line-list {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 8;
  background-color: #fff;
  padding: 10px;
  height: 500px;
  width: 300px;
  z-index: 999;
  overflow-y: auto;
}


.line-station-list .station{
  cursor: pointer;
  height: 32px;
  padding: 4px;
  display: flex;
  align-items: center;
}

.line-list .line-name {
  cursor: pointer;
  height: 16px;
  padding: 4px;
  display: flex;
  align-items: center;
}

.line-station-list .station:hover, .line-list .line-name:hover {
  background-color: #f0f0f0;
  
}